<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>GESTOR DE BASE DE DATOS</h1>
        <p>Aplicacion desarrollada para poder gestionar de manera mas rapida las base de datos del usuario.</p>
        <div class="buttons">
            <a href="/bases-de-datos"><button class="primary">Empezar</button></a>
        </div>
    </div>
    <div class="container section">
        <h2>Características</h2>
        <div class="features">
            <div class="feature">
                <h3>Rapido</h3>
                <p>Sabemos que el tiempo lo es todo, asi que el objetivo de esta aplicacion es hacer que el usuario gestione de manera rapida e eficiente sus base de datos.</p>
            </div>
            <div class="feature">
                <h3>Comodo</h3>
                <p>La aplicacion cubre todos los requisitos para poder gestionar de manera correcta la informacion de las base de datos, ademas podras gestionar tanto las BD, como las tablas que se encuentran en ellas.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>UNIVERSIDAD TECNOLOGICA DE SAN JUAN DEL RIO</p>
    </footer>
</body>
</html>
